<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% extends 'portfolio/base.html' %}

{% block page %}


<h1><center>Altaf's Portfolio Homepage.</center></h1>
{% load static %}

<br><br><br>

<div class="row">
  {% for proj in projects %}
  <div class="col-lg-4 col-md-6">

    {% if proj.url %}
    <a href="{{ proj.url }}">
      <img src="{{ proj.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ proj.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <h3>{{ proj.title }}</h3>
    <p>{{ proj.description }}</p>


  </div>
  {% endfor %}
</div>

{% endblock %}